/* ===== NAVBAR GENERAL ===== */
.navbar {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

/* ===== LOGO ===== */
.navbar-logo {
  font-weight: bold;
  color: #000000;
  font-size: 1.2rem;
  font-family: 'ArialHebrew-bold', sans-serif;
}

.navbar-logo img {
  height: 50px;
  width: auto;
}

/* ===== ENLACES ===== */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  font-family: 'ArialHebrew-Light', sans-serif;
  color: #00008B;
  transition: color 0.3s;
  font-family: 'Arial', ArialHebrew-Light;
}
.navbar-links li a:hover {
  transform: translateY(-10px); /* se eleva ligeramente */
  background: hsla(241, 196, 15, 0.8); /* se hace más opaco */
  
}

.navbar-links li a:hover {
  color: #007bff;
}

/* ===== BOTÓN NAVEGACION ===== */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 150;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #00008B;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* ===== TRANSFORMACIÓN A "X" ===== */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* ===== RESPONSIVE - BARRA LATERAL ===== */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 15px 25px;
  }

  /* Ocultamos los enlaces por defecto */
  .navbar-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
  }

  /* Cuando está activa, se muestra el menú lateral */
  .navbar-links.active {
    right: 0;
  }

  /* Mostrar botón hamburguesa */
  .hamburger {
    display: flex;
  }

  .navbar-links li a {
    font-size: 1.2rem;
    color: #00008B;
    font-family: 'Arial', ArialHebrew-Light;
  }

  .navbar-links li a:hover {
    color: #007bff;
  }
}
